{% extends 'base.html'%}
{% load widget_tweaks %}
{% block contenido %}

<div class="d-flex align-items-center justify-content-center ht-100v">
      <div class="login-wrapper wd-300 wd-xs-350 pd-25 pd-xs-40 bg-br-primary rounded bd bd-white-1">
        <div class="signin-logo tx-center tx-28 tx-bold tx-white"><span class="tx-normal"></span> Cambiar contraseña <span class="tx-info"></span> <span class="tx-normal"></span></div>
        
       <form method="post" novalidate>
                        {% csrf_token %}
                        {% if form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            {% for error in form.non_field_errors %}
                            <p {% if forloop.last %} class="mb-0" {% endif %}>{{ error }}</p>
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                        {% endfor %}
                        {% for field in form.visible_fields %}
                        <div class="form-group mb-3">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field|add_class:'form-control' }}
                            {% for error in field.errors %}
                            <span class="text-danger help-block">{{ error }}</span>
                            {% endfor %}
                            {% if field.help_text %}
                            <small class="form-text text-muted">
                                {{ field.help_text|safe }}
                            </small>
                            {% endif %}
                        </div>
                        {% endfor %}
                         <button type="submit" class="btn btn-info btn-block">Cambiar contraseña</button>
                    </form>
      </div><!-- login-wrapper -->
    </div><!-- d-flex -->
<!--
<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button>Cambiar contraseña</button>
</form>
-->
{% endblock %}