{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load  widget_tweaks %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="card mb-4">
        <div class="card-body">
          <h2 class="card-title">Cambiar constraseña</h2>
          {% if validlink %}
            <form method="post" novalidate>
              {% csrf_token %}

                {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                  {% for error in form.non_field_errors %}
                    <p{% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
                 {% endfor %}
                </div>
              {% endif %}
              {% for hidden in form.hidden_fields %}
                {{ hidden }}
              {% endfor %}

              {% for field in form.visible_fields %}
                <div class="form-group">
                  <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field|add_class:'form-control' }}
                  {% for error in field.errors %}
                    <span class="text-danger help-block">{{ error }}</span>
                  {% endfor %}
                  {% if field.help_text %}
                    <small class="form-text text-muted">
                      {{ field.help_text|safe }}
                    </small>
                  {% endif %}
                </div>
              {% endfor %}
           
              <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
          {% else %}
            <p class="text-danger">Invalido token.</p>
            <p class="card-text">
              <a href="{% url 'password_reset' %}">Solicitar un nuevo token de restablecimiento de contraseña</a>
            </p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}