{% extends 'base-meys.html' %}
    {# Widget Tweaks - Importar aca en la template y no en el base-meys.html#}
    {% load widget_tweaks %}
{% block contenido %}
    <div class="row mb-5">
        <div class="card col-md-3">
            <h6 class="mt-4"><strong>Menú</strong></h6> 
            <ul class="list-group list-group-flush">
                <!--  
                <li class="list-group-item">Dashboard</li>
                <li class="list-group-item active">Postres</li>
                <li class="list-group-item">Configuración</li>-->
                <li class="list-group-item"><a href="{% url 'inicioDocumento'%}">Inicio</a></li>
                <li class="list-group-item"><a href="{% url 'listarDocumento'%}">Documentos</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="table-responsive">
                <nav aria-label="breadcrumb mb-3">
  					<ol class="breadcrumb">
   					    <li class="breadcrumb-item"><a href="{% url 'listarDocumento' %}">Documentos</a></li>
   					    <li class="breadcrumb-item active" aria-current="page">Editar</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{object.documento}}</a></li>
   					</ol>
  				</nav>
                <div class="formulario" align="left">
                	<h4>Editar</h4>
      					<form method="post" enctype="multipart/form-data" novalidate>
        					{% csrf_token %}
        						<!-- {{ form.as_p }} -->
                                {% if form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            {% for error in form.non_field_errors %}
                            <p {% if forloop.last %} class="mb-0" {% endif %}>{{ error }}</p>
                            {% endfor %}
                        </div>
                      {% endif %}
                      {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                      {% endfor %}
                       {% for field in form.visible_fields %}
                        <div class="form-group mb-3">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field|add_class:'form-control' }}
                            {% for error in field.errors %}
                            <span class="text-danger help-block">{{ error }}</span>
                            {% endfor %}
                            {% if field.help_text %}
                            <small class="form-text text-muted">
                                {{ field.help_text|safe }}
                            </small>
                            {% endif %}
                        </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary">Aceptar</button>
                            <a href="{% url 'listarDocumento'%}" type="submit" class="btn btn-primary">Volver</a>
        				</form>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido%}
{% block javascript %}
<script>
  $(function(){
    $("#id_termino").datetimepicker({
      format: 'd/m/Y H:i',
    });
  });
  $.datetimepicker.setLocale('es');
</script>
{% endblock javascript %}
