{% extends 'base-meys.html' %}
{% block contenido %}
        <div class="row mb-5">

            <div class="card col-md-3">
              <h6 class="mt-4"><strong>Menú</strong></h6> 
              
              <ul class="list-group list-group-flush">
                <!--<li class="list-group-item">Dashboard</li>
                <li class="list-group-item active">Postres</li>-->
                <li class="list-group-item"><a href="{% url 'inicioDocumento'%}">Inicio</a></li>
                <li class="list-group-item active">Documentos</li>
                <li class="list-group-item"><a href="{% url 'basic_upload' %}">Carga básica</a></li>
                <li class="list-group-item"><a href="{% url 'drag_and_drop_upload' %}">Drag and drop</a></li>
              </ul>
            </div>

            <div class="col-md-9">
              <div class="table-responsive">
                {% if messages %}
                  <ul class="messages list-group mb-3">
                      {% for message in messages %}
                      <li{% if message.tags %} class="{{ message.tags }} list-group-item list-group-item-primary"{% endif %}>{{ message }}</li>
                      {% endfor %}
                  </ul>
                {% endif %}

                <div align="left" class="btn_crear mb-3">
                  <a href="crear" type="button" class="btn btn-primary">Crear documento</a>
                </div>
                <h4>Listado</h4>
                <table class="table table-striped table-hover">
                  <thead>
                    <tr>
                      <th width="35%">Documento</th>
                      <th>Destino</th>
                      <!--<th>Fecha creacion</th>
                      <th>Fecha actualización</th>-->
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for doc in object_list %}
                    <tr>
                      <td>{{ doc.documento }}</td>
                      <td>{{ doc.destino }}</td>
                      <!--<td>{{ doc.fecha_creacion }}</td>
                      <td>{{ doc.fecha_actualizacion }}</td>-->
                      <td>
                        
                        <form method="POST" action="eliminar/{{doc.id}}">
                          
                          {% csrf_token %}
                          
                          <div class="btn-group">
                            <a href="ver/{{doc.id}}" title="Ver" type="button" class="btn btn-success">Ver </a>
                            <a href="editar/{{doc.id}}" title="Editar" type="button" class="btn btn-primary">Editar </a>
                            <button title="Eliminar" class="btn btn-danger" onclick="return eliminar();" type="submit">
                              Eliminar
                            </button>
                            <a href="eliminar/{{doc.id}}" title="Eliminar"><i class="fas fa-trash"></i> </a>
                          </div>

                        </form>

                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          
          <hr>
        </div>
{% endblock contenido %}

{% block javascript %}
 <script type="text/javascript">
        function eliminar() {
          var x = confirm("Esta seguro de eliminar este documento ?");
          if (x)
            return true;
          else
            return false;
        }
      </script>
{% endblock javascript %}
