{% extends 'base-meys.html' %} {% load static %} {% block contenido %}
<div class="row mb-5">
  <div class="card col-md-3">
    <h6 class="mt-4"><strong>Menú</strong></h6>

    <ul class="list-group list-group-flush">
      <!--<li class="list-group-item">Dashboard</li>
          <li class="list-group-item active">Postres</li>-->
      <li class="list-group-item">
        <a href="{% url 'inicioDocumento'%}">Inicio</a>
      </li>
      <li class="list-group-item">
        <a href="{% url 'listarDocumento'%}">Documentos</a>
      </li>
      <li class="list-group-item">
        <a href="{% url 'basic_upload' %}">Carga básica</a>
      </li>
      <li class="list-group-item">
        <a href="{% url 'drag_and_drop_upload' %}">Drag and drop</a>
      </li>
      <li class="list-group-item active">Barra de progreso</li>
    </ul>
    <li class="list-group-item">
      <a href="{% url 'clear_database' %}">Borrar archivo subidos</a>
    </li>
  </div>
  <div class="col-md-9">
    <div style="margin-bottom: 20px;">
      <button type="button" class="btn btn-primary js-upload-photos">
        <span class="glyphicon glyphicon-cloud-upload"></span> Subir archivos
      </button>
      <input
        id="fileupload"
        type="file"
        name="file"
        multiple
        style="display: none;"
        data-url="{% url 'progress_bar_upload' %}"
        data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'
      />

      <table id="gallery" class="table table-bordered">
        <thead>
          <tr>
            <th>Photo</th>
          </tr>
        </thead>
        <tbody>
          {% for photo in photos %}
          <tr>
            <td><a href="{{ photo.file.url }}">{{ photo.file.name }}</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div
        class="modal fade"
        id="modal-progress"
        data-backdrop="static"
        data-keyboard="false"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Subiendo...</h4>
            </div>
            <div class="modal-body">
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 0%;">
                  0%
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock contenido %} {% block javascript %}
<script src="{% static 'meys/js/progress-bar-upload.js' %}"></script>
{% endblock javascript %}
