
{% extends 'base.html' %}
{% load static %}
{% load leaflet_tags %}

{% block extra_css %} {% leaflet_css %}
<style>

    .leaflet-container {  /* all maps */
          height: 600px;
    }

    </style>
{% endblock %}



{% block panelderecho %}
{% endblock panelderecho %}




 {% block contenido %}



{% leaflet_map "map" callback="window.map_init" %}





{% endblock %}
{% block extra_js %}{% leaflet_js %}
<script type="text/javascript">


function map_init(map, options) {
  var geoLayer = L.geoCsv(null, {
  onEachFeature: function (feature, layer) {
      var popup = '';
      for (var clave in feature.properties) {
        var title = geoLayer.getPropertyTitle(clave);
        popup += '<b>'+title+' </b>'+feature.properties[clave]+'<br />';
      }
      layer.bindPopup(popup);
    },
    firstLineTitles: true,
     fieldSeparator: ',',
    latitudeTitle:'Latitude',
    longitudeTitle:'Longitude'
    });
    //map.addLayer(geoLayer);
    $.get('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-15-2020.csv', function(csv) {
      geoLayer.addData(csv);

    })
    geoLayer.addTo(map)
  };
//    console.log('pepe');
//}



</script>

{% endblock %}
