
{% for user in users %}
	<tr class="{% if currect_user == user.username %} table-info {% endif %}">
		<td>{{user.username}}</td>
		<!--<td>{{user.first_name}}</td>
		<td>{{user.last_name}}</td>
		<td>{{user.email}}</td>-->
		<td id="user-{{user.id}}">
			{% if user.is_authenticated %}
				{% if user.estado.status %}
				    
					<i class="fa fa-circle" style="color:#43cc39"></i>
                {% else %}
                    <i class="fa fa-circle" style="color:#ff0000"></i>
				{% endif %}
			
			{% endif %}
		</td>
	</tr>
{% endfor %}
