{% extends 'index.html' %}
{% block titulo %}
<h4>Usuarios en línea</h4>
{% endblock titulo %}
{% block contenido %}
<div class="br-pageheader">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
        <a class="breadcrumb-item" href="{{'/'}}">Inicio</a>
        <!--<a class="breadcrumb-item" href="#">Maps</a>-->
        <span class="breadcrumb-item active">Listado de usuarios</span>
    </nav>
</div>
<div class="br-pagetitle">
    <!-- <i class="icon icon ion-ios-navigate-outline"></i>-->
    <div>
        <h4>Listado de usuarios del sistema</h4>
        <!--<p class="mg-b-0">Detalle de la situación sanitaria.</p>-->
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Nombre de usuario</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody id="new_user">
        {% include "modificar_estado_usuarios.html" %}
    </tbody>
</table>
{% endblock %}